config.cfg
__pycache__/
*.log
cgi/log.txt
*.pid
.env
memo.txt

# DB data
mysql/data
mysql/logs
mysql/scripts

# current_release files prepared at startup
ontology/current_release/nando.tsv
ontology/current_release/nando_en.obo
ontology/current_release/nando_ja.obo
